{% extends "bootstrap/base.html" %}
{% block title %}Dog Breed App{% endblock %}
{% block navbar %}
<style>
img {
  border-radius: 50%;
}
</style>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">           
            <a class="navbar-brand" href="/">DogApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">DoggieHome</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
    	
    	<img style="border: 2px solid black;" src={{image_path}}>
    	<div>
    		{{prediction}}
    	</div>
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}          
          <div class="form-group">
             {{ form.file.label() }}
             {{ form.file(class="form-control-file") }}             
          </div>
          <div class="form-group mt-4" style="width: 15%;">
             {{ form.submit(class="btn btn-primary btn-user btn-block bg-purple") }}
          </div>
       </form>
    </div>
</div>
{% endblock %}